@import './shared.scss';

.Navbar {
	background-color: #DDDDDD;
	width: 100vw;
	padding-top: 35px;
	padding-bottom: 35px;
	margin-top: $logobarOffset; 
}

.MyCollectionImg {
	width: 100px;
}

.NavItem {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	cursor: pointer;
}

h1 {
	font-size: 17px;
}

h2 {
	font-size: 17px;
	font-weight: 400;
}

@media (min-width: $mobileSize) and (orientation:landscape) {
	.Navbar {
		padding: 35px;
		width: 120px;
		height: 100vh;
		position: fixed;
	}
}